// Font Size
$base_size_sm: 10px;
$base_size: 14px;
$base_size_lg: 16px;
$icon_size: 18px;
$hero_text: 24px;

// Font Weight
$font_weight_regular: 400;
$font_weight_medium: 600;

// Radius
$border_radius_sm: 4px;
$border_radius: 5px;
$border_radius_lg: 8px;

// Colors
$theme: #226CF5;
$body_bg:#F7F8F9;
$text_dark_2: #3B3B3B;
$bg_blue: #226CF5;
$header_box_shadow: #226CF514;
$search_placeholder: #939393;
$bell_border: #FAFBFC3D;
$bubble: #FF1A2F;
$text_color: #0E1B2C;

